@use '../base/variables' as *;

.button {
  background-color: $wintergreen;
  color: $candy-floss;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: $font-size-md;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($wintergreen, 5%);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.secondary {
    background-color: #ffb6c1;
    border: none;
    border-radius: 12px;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: darken(#ffb6c1, 5%);
    }
  }

  &.icon {
    background: none;
    font-size: 1.2rem;
    padding: .3rem;

    &:hover {
      transform: scale(1.2);
    }
  }
}
