@import '../main.scss';

.card {
  color: $chocolate;
  padding: .8rem 1rem;
  border-radius: 20px;
  font-size: $font-size-md;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__content {
    margin-bottom: 1rem;
  }
}
