@use '../base/variables' as *;
@use '../base/responsive' as *;

.hero {
  color: $chocolate;
  text-align: center;
  padding: 2rem 0;

  &__title {
    font-size: $font-size-xl;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @include max-mobile {
      font-size: $font-size-lg;
    }
  }

  &__subtitle {
    font-size: $font-size-md;
    margin-bottom: 3rem;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

  .mood {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    button {
      background: none;
      border: 1px solid $chocolate;
      border-radius: 10px;
      margin-left: .5rem;
      cursor: pointer;
      transition: 1s transform ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.planner__note--done label {
  text-decoration: line-through;
  color: #a67b7b;
  opacity: 0.7;
}
