@use '../main.scss' as *;

.sobre {
  background: linear-gradient(135deg, $bubble-gum , $candy-floss);
  padding: 2rem 1rem;
  color: $chocolate;

  h1,
  h2 {
    font-size: $font-size-xl;
    margin: 2rem 0;
    text-align: center;
    font-weight: 600;

    @include max-mobile {
      font-size: $font-size-lg;
    }
  }

  p {
    max-width: 89vw;
    text-align: center;
    text-wrap: balance;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      background: $candy-floss;
      padding: 1rem;
      border-radius: 12px;
      margin-bottom: 0.8rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      max-width: 60vw;
    }
  }

  strong {
    font-weight: 700;
  }
}
