@import './base/variables';
@import './base/responsive';
@import './base/reset';

.container {
  font-family: $font-poppins;
  padding: 3rem;
  background: linear-gradient(135deg, $bubble-gum , $candy-floss);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.--underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: $chocolate;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
